body {
    margin: 0 auto;
    text-align: center;
}
#hero {
    width: 100%;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
}
.post {
    font-size: 0.8em;
    color: #0082FF;
    font-family: 'Times New Roman', Times, serif;
}
.top {
    font-family: Arial, Helvetica, sans-serif;
}
.text {
    font-family: 'Times New Roman', Times, serif;
    color: #555555;
    width: 80%;
    font-size: 1.1em;
    margin: 0 auto;
}
#foot {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 5px;
    font-family: 'Times New Roman', Times, serif;
    color: #FFFFFF;
    background-color: #FFFFFF;
    margin-top: 25px;
    line-height: 70%;
}
.left, .right, .middle {
    background-color: #0012FF;
    margin: 0 0.5px;
}
.left {
    border-bottom-left-radius: 5%;
}
.right {
    border-bottom-right-radius: 5%;
}